#saved-container{
    border: black solid 1px;
    min-width: 400px;
    min-height: 400px;
    background-color:lightblue;
    padding:5;
    margin-top: 15px;
    font-family: 'Playfair Display', serif;
}